---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>

<main>

	<h1> Junior Team</h1>
	<h2> Make you great again</h2>
</main>

</Layout>

<style>
	main {
			background-image: url('https://picsum.photos/600/800');
      background-size: cover; /* Ensures the image covers the entire area */
      background-repeat: no-repeat; /* Prevents the image from repeating */
			height: 100vh;
			margin: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

	}

	.h1 {
		font-size: 3rem;
		background-image: linear-gradient(red, blue);
		color: transparent;
		background-clip: text;
	}

	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
